* {
    text-align: center;
    
    
}

html,body{
    margin:0;
    height:100%;

}

 body{
    background-image: url('naturePhoto.jpg');
    width: 100%;
    height:100%;
    border: 5px, solid black;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro h1 {
    color: blue;
    text-align: left;
}


#projects h1{
    color: white;
}

#accomplishments h1 {
    color: white;
}

#sliceoflife h1{
    color: white;
}


.categories{
    display: inline;
    float: left;

}

ul.list {
    display: inline-block;
    text-align: left;
}
